html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

h1,
p {
  margin: 0;
  padding: 0;
  color: white;
}

main {
  background-color: #ffffff;
  min-height: calc(100vh - 300px);
}

.header {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.header--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: white;
  z-index: 1;

  a {
    text-decoration: none;
  }
}

.header--content h1 {
  font-size: 2.625rem;
  font-weight: extra-bold;
}

.watchlist-link {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.watchlist-link:hover,
.watchlist-link:focus {
  text-decoration: underline;
}

/* Visually hidden but accessible to screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search-input {
  font-family: inherit;
  width: 100%;
  padding: 0.5em 5.5em 0.5em 2.3em;
  border-radius: 5px;
  border: 1px solid #a9acb1;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

.movies--container {
  min-height: calc(100vh - 330px);
  width: 100%;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.movies--container p {
  color: #dfdddd;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-container {
  position: relative;
  width: 90%;
  max-width: 800px; /* adjust to your design */
  min-width: 300px;
  margin: -20px auto 0;
  z-index: 2;
}

.search-icon {
  position: absolute;
  left: 10px; /* or right: 10px for right side */
  top: 50%;
  transform: translateY(-50%);
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #a9acb1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  padding: 0 20px;
  cursor: pointer;
}

/* Movie Card Styles */

.movie-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: auto;
    height: 200px;
    object-fit: contain;
  }
}

.movie-details {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  p {
    color: #6b7280;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.25;
  }
}

.movie-header {
  color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  width: 100%;
  h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    width: 80%;
  }
}

.movie-info {
  color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.875rem;
  padding: 0.5em 0;
}

.add-to-watchlist-btn,
.remove-watchlist {
  color: #111827;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.4em 0;

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.rating {
  height: 16px;
  padding: 0.3em 0;
}

.rating:nth-last-child(1) {
  font-size: 0.875rem;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #e5e7eb;
}

.star {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  img {
    width: 16px;
    height: 16px;
  }
}

.add-movies-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: inherit;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
  }
}

#watchlist-container {
  align-items: flex-start;
  @media (min-width: 508px) {
     align-items: center;
  }

  p:nth-child(1),
  a {
    padding-left: 2vw;
  }
}

@media (min-width: 420px) {
  #watchlist-container {
    p:nth-child(1),
    a {
      padding-left: 3vw;
    }
  }

  .movie-details p {
    font-size: 1rem;
  }

}

/* Toast Notification */
.toast {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: #111827;
  color: white;
  padding: 1em 1.8em;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease;
  z-index: 1000;
}

.toast.show {
  bottom: 30px;
}


.remove-watchlist img {
  width: 16px;
  height: 16px;
}