html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

h1,
p {
  margin: 0;
  padding: 0;
  color: white;
}

main {
  background-color: #ffffff;
  min-height: calc(100vh - 300px);;
}

.header {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.header--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: white;
  z-index: 1;
}

.header--content h1 {
  font-size: 2.625rem;
  font-weight: extra-bold;
}

.header--content p {
  font-size: 1.25rem;
  font-weight: bold;
}

.search-input {
  font-family: inherit;
  width: 300px;
  padding: 0.5em 5em 0.5em 2em;
  border-radius: 5px;
  border: 1px solid #a9acb1;
  font-size: 1rem;
}

.movies--container {
  min-height: calc(100vh - 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

.movies--container p {
  color: #dfdddd;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-container {
  position: relative;
  max-width: 500px; /* adjust to your design */
  width: 300px;
  margin: -20px auto 0;
}

.search-icon {
  position: absolute;
  left: 10px; /* or right: 10px for right side */
  top: 50%;
  transform: translateY(-50%);
}

.search-button {
  font-family: inherit;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 1px solid #a9acb1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  padding: 0 20px;
  cursor: pointer;
}
